#Logs/Database
logs
*.log
*.db
OZW_Log.txt
home-assistant_v2.db*

#Folders
.storage
.cloud
tts
hooks
HEAD
node-red
node-red-backup
templates

#Scripts
*.sh

#Secret data / Credentials
secrets.yaml
.xbox-token.json
.spotify-token-cache
*.token
*.pickle
*.xml
__pycache__
*.pyc
known_devices.yaml
entity_registry.yaml
token*.txt
harmony_harmony.conf
pyozw.sqlite
.shopping_list.json
*.conf

#Others
*.mp3

